
@{
    ViewBag.Title = "ConfirmacionValidacion";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3></h3>
                <h3>Le hemos enviado a su número de telefono y a su correo electrónico unos códigos de validación.</h3>
                <p>
                    Por favor, ingrese los mismos
                </p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" action="@Url.Action("Index", "Preguntas")" method="post" class="login-form">
                <div class="form-group">
                    <label class="sr-only" for="form-username">Código número de teléfono</label>
                    <input type="text" name="form-username" placeholder="Código número de teléfono..." class="form-username form-control" id="form-username">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-username">Código correo electrónico</label>
                    <input type="text" name="form-username" placeholder="Código correo electrónico..." class="form-username form-control" id="form-username">
                </div>
                <button type="submit" class="btn">Continuar...</button>
            </form>

        </div>
    </div>
</div>

