
@{
    ViewBag.Title = "ConfirmacionValidacion";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Le hemos enviado a su número de telefono y a su correo electrónico unos códigos de validación.</h3>
                <p>
                    Por favor, ingrese los mismos
                </p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            @*<form role="form" action="@Url.Action("Index", "Preguntas")" method="post" >*@
                <div class="form-group" align="center">
                    <label class="sr-only" for="form-username">Código número de teléfono</label>
                    <input type="text" name="form-username" width="280" placeholder="Código número de teléfono..."  id="form-username">
                </div>
                <div class="form-group" align="center">
                    <label class="sr-only" for="form-username">Código correo electrónico</label>
                    <input type="text" name="form-username" width="280" placeholder="Código correo electrónico..."  id="form-username2">
                </div>
                <div class="form-group" align="center">
                    <button type="submit" class="btn">Continuar</button>
                    </div>
@*</form>*@

        </div>
    </div>
</div>

