
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Identifíquese en nuestro sitio</h3>
                            <p>Ingrese su nombre de usuario y contraseña:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Usuario</label>
                                <input type="text" name="form-username" placeholder="Usuario..." class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Contraseña</label>
                                <input type="password" name="form-password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
                            </div>
                            <div class="form-group" align="center">
                                <div class="g-recaptcha" data-sitekey="6LfUFFIUAAAAALxkyEMc3vi4yRspOoD_ykUuf5lZ"></div>
                            </div>
                            <button type="submit" class="btn">Iniciar sesión</button>

                        </form>
                    </div>
                    <div class="form-bottom">
                        @Html.ActionLink("¿Olvidó su Usuario y/o Contraseña?", "Registracion","Home")
                    </div>
                    
                </div>
            </div>
