
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header modal-header-generico" style="color: white; background-color: #811d1d">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="tituloModalListErrores"></h4>
        </div>
        <div class="modal-body text-center">
            <i class="fa fa-warning  fa-3x" style="color: red;"></i>
            <div id="listaErrores" style="margin-top: 10px;">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="$(this).modal('hide')">Aceptar</button>
        </div>
    </div>
</div>