
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3></h3>
                <h3>A continuación, le haremos una serie de preguntas para poder determinar su identidad.</h3>
                <p>
                  ¿Cuantas compras ha realizado durante el mes en curso?
                </p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" action="@Url.Action("Pregunta2", "Preguntas")" method="post">
                <div class="radio">
                    <label><input type="radio" name="optradio">1</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">4</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">No he realizado ninguna</label>
                </div>
                <br />
                <button type="submit" class="btn">Continuar</button>
            </form>
        </div>
        
    </div>
</div>

