
@{
    ViewBag.Title = "Pregunta2";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3></h3>
                <h3></h3>
                <p>
                    ¿Cuál ha sido el importe abonado en su última factura?
                </p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" action="@Url.Action("Confirmacion", "Preguntas")" method="post">
                <div class="radio">
                    <label><input type="radio" name="optradio">$1.546</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">$13.545</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">$0</label>
                </div>
                <br />
                <button type="submit" class="btn">Continuar</button>
            </form>
        </div>

    </div>
</div>

